* { margin: 0; padding: 0; }

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
}

#upperBar {
    position: fixed;
    width: 100%;
    background: url(upperBarBg.png);
    color: #FFF;
    display: none;
}

    #upperBar .inner {
        padding: 15px;
        width: 870px;
        margin: 0 auto;
    }
    
    #upperBar .heading {
        display: block;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dotted #FFF;
    }
    
        #upperBar .heading h2 {
            display: inline;
        }
        
        
        #upperBar .heading span.link {
            display: inline;
            margin-left: 10px;
        }
        
            #upperBar .heading span.link a {
                color: #EEE;
            }
            
            #upperBar .heading span.link a:hover {
                text-decoration: none;
            }
    
    #upperBar .description {
        display: block;
        clear: both;
    }

#screenshot {
    text-align: center;
    padding: 0;
}

    #screenshot img {
        margin: 0 0 -6px 0;
        padding: 0;
    }

.clear {
    display: block;
    clear: both;
}